<h1>Add Article</h1>
    <form action="/articles" method="post">
      <input type="text" name="articleName" required >
      <input type="text" name="articleContent" required>
      <button type="submit">Submit</button>
    </form>


<a href="/">Homepage</a><br>
<a href = "/articles">Article</a>