<h1>Edit Article</h1>
 <form action="/article/edit" method="post">
      <input type="text" name="articleName" value="{{{title}}}">
      <input type="text" name="articleContent" value="{{{content}}}">
      <input type="text" name="articleId" value="{{{article.articleId}}}">
      <button type="submit">Submit</button>
    </form>

    <a href="/">Homepage</a>